{{ define "main" }}
<div class="row">
  <div class="col-12 col-md-6">
    <h1>Whitewater Diary for paddlers</h1>

    <div class="text-center">
      <a
        href="https://play.google.com/store/apps/details?id=com.jenasoft.riverlog"
        class="store"
      >
        <img src="img/playstore.svg" alt="Android Play Store" />
      </a>

      <a
        href="https://apps.apple.com/us/app/riverlog/id6642674977"
        class="store"
      >
        <img src="img/appstore.svg" alt="iPhone AppStore" />
      </a>

    </div>

    <div class="card mt-5 mb-5">
      <div class="card-body">
        <h2 class="p-2">Classic riverlog user guide</h2>
        <h3 class="small">New app with your data</h3>
        <p>Download new mobile app, with data from your old riverlog</p>
        <h3 class="small">Using google sign-in</h3>
        <p>We removed this feature, please use link "Do not remember the password", we will send you a password to new app</p>
        <h3 class="small">Use old app</h3>
        <p>The old riverlog is still available, you could open it at <a href="https://old.riverlog.info">old.riverlog.info</a></p>
      </div>
    </div>


  </div>

 
  <div class="col-12 col-md-6">
    <img src="img/hero.svg" class="img-fluid" />
  </div>
</div>

<img src="img/iconbar.svg" class="img-fluid" />

<div class="row">
  <div class="col-12 col-md-6 p-4">
    <h2>Logging your runs seamlessly</h2>
    <p>
      Seeking a spot to log the run? Riverlog makes tracking your paddling trips
      fun and easy. Just choose the section, and everything else fills in
      automatically – including the water level.
    </p>
  </div>
  <div class="col-12 col-md-6 p-4">
    <img src="img/screen1.svg" class="img-fluid" />
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6 p-4">
    <h2>Whitewater Wisdom: All-in one</h2>
    <p>
      All you need for navigating waterways: your past records from previous
      runs, insights from fellow paddlers, real-time water level updates and
      other info from Rivermap.org.
    </p>
  </div>
  <div class="col-12 col-md-6 p-4">
    <img src="img/screen2.svg" class="img-fluid" />
  </div>
</div>

{{/*
<h2>Bullshit-free content</h2>
<p>
  We are aiming to design such environment that encourages sharing and spreading
  useful info above all.
</p>
*/}}

<div class="card mt-5 mb-5">
  <div class="card-body">
    <h2 class="p-2 small">How to use riverlog?</h2>
    <h3>Log your runs with our mobile app</h3>
    <p>The easiest way to use our app is on your phone</p>
    <p>
        <a
          href="https://play.google.com/store/apps/details?id=com.jenasoft.riverlog"
          class="store"
        >
          <img src="img/playstore.svg" alt="Android Play Store" />
        </a>

        <a
          href="https://apps.apple.com/us/app/riverlog/id6642674977"
          class="store"
        >
          <img src="img/appstore.svg" alt="iPhone AppStore" />
        </a>
    </p>

    <h3>Use the web app at your desktop</h3>
    <p>Prefer to write your run descriptions in peace in quiet? Use our web app on your desktop</p>
    <p>
    <a href="https://app.riverlog.info" class="btn btn-info mt-2" target="_blank">
      Web app
    </a>
    </p>

    <h3 class="mt-4">Feel nostalgic?</h3>
    <p>You can still access our old web app if you prefer the classic look and feel</p>
    <p>
    <a href="https://old.riverlog.info" class="btn btn-info mt-2" target="_blank">
      Old app
    </a>
    </p>
  </div>
</div>



<h2 class="p-2 small">Who helps us?</h2>

<div class="row">
  <div class="col-12 col-md-6 p-4">
    <h3>Rivermap.org</h3>
    <p>Generously provides online water levels</p>

    <h3>Web4ce</h3>
    <p>Web4ce is our gracious virtual server hosting provider</p>
  </div>
  <div class="col-12 col-md-6 p-4">
    <img src="img/web4ce.svg" class="img-fluid" />
  </div>
</div>

<h2 class="p-2 small">How to get in touch?</h2>
<h3><a href="mailto:riverlog.info@gmail.com">Riverlog.info@gmail.com</a></h3>
<a href="https://www.facebook.com/riverdiary"><img src="img/fb.svg"  /></a>


{{ end }}
