{{ define "main" }}
<div class="row">
  <div class="col-12 col-md-6">
    <h1>Whitewater Diary for paddlers</h1>

    <div class="text-center">
      <a
        href="https://play.google.com/store/apps/details?id=com.jenasoft.riverlog"
        class="store"
      >
        <img src="img/playstore.svg" alt="Android Play Store" />
      </a>

      <a
        href="https://apps.apple.com/us/app/riverlog/id6642674977"
        class="store"
      >
        <img src="img/appstore.svg" alt="iPhone AppStore" />
      </a>

      <br />
      Or use the web application:
      <br />

      <a href="https://app.riverlog.info" class="btn btn-info mt-2" target="_blank">
        Open web app
      </a>

      <br />
      <br />
            If you prefer to use original RiverLog app, it is still running:
      <br />
      <a href="https://old.riverlog.info" class="btn btn-info mt-2" target="_blank">
        Old RiverLog app
      </a>

      <br />
      <br />
      Old and new apps share the same data, you will see your runs in both


    </div>
  </div>

  <div class="col-12 col-md-6">
    <img src="img/hero.svg" class="img-fluid" />
  </div>
</div>

<img src="img/iconbar.svg" class="img-fluid" />

<div class="row">
  <div class="col-12 col-md-6 p-4">
    <h2>Logging your runs seamlessly</h2>
    <p>
      Seeking a spot to log the run? Riverlog makes tracking your paddling trips
      fun and easy. Just choose the section, and everything else fills in
      automatically – including the water level.
    </p>
  </div>
  <div class="col-12 col-md-6 p-4">
    <img src="img/screen1.svg" class="img-fluid" />
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6 p-4">
    <h2>Whitewater Wisdom: All-in one</h2>
    <p>
      All you need for navigating waterways: your past records from previous
      runs, insights from fellow paddlers, real-time water level updates and
      other info from Rivermap.org.
    </p>
  </div>
  <div class="col-12 col-md-6 p-4">
    <img src="img/screen2.svg" class="img-fluid" />
  </div>
</div>

{{/*
<h2>Bullshit-free content</h2>
<p>
  We are aiming to design such environment that encourages sharing and spreading
  useful info above all.
</p>
*/}}

<h2 class="p-2 small">Who helps us?</h2>

<div class="row">
  <div class="col-12 col-md-6 p-4">
    <h3>Rivermap.org</h3>
    <p>Generously provides online water levels</p>

    <h3>Web4ce</h3>
    <p>Web4ce is our gracious virtual server hosting provider</p>
  </div>
  <div class="col-12 col-md-6 p-4">
    <img src="img/web4ce.svg" class="img-fluid" />
  </div>
</div>

{{ end }}
