<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <div class="col-md-4 d-flex align-items-center">
      <a class="brand" href="/">
        <img
          src="/img/icon.png"
          width="40"
          height="40"
          class="d-inline-block align-top"
          alt=""
        />
        RiverLog
      </a>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
      <a href="/policy">Privacy policy</a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="#" aria-label="Facebook"></a>
      </li>
    </ul>
  </footer>
</div>
