<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <div class="col-md-4">
      <div>
        <a class="brand" href="/">
          <img
            src="/img/icon.png"
            width="40"
            height="40"
            class="d-inline-block align-top"
            alt=""
          />
          RiverLog
        </a>
      </div>
      <div class="mt-2">
        <span class="text-secondary">Email:</span>
        <a href="mailto:riverlog.info@gmail.com">riverlog.info@gmail.com</a>
      </div>
    </div>

    <div clas="nav">
      <a href="/policy">Privacy policy</a> <br />
      <a href="/terms">Terms and Conditions</a>
    </div>

  </footer>
</div>
