<nav class="navbar mb-4">
  <div class="container">
    <div class="row">
      <a class="brand" href="/">
        <img
          src="/img/icon.png"
          width="40"
          height="40"
          class="d-inline-block align-top"
          alt=""
        />
        RiverLog
      </a>
    </div>

    <a
      href="https://app.riverlog.info"
      class="btn btn-info mt-2 mr-1"
      target="_blank"
    >
      Web app
    </a>
  </div>
</nav>

{{/*
<div class="header">
  <div class="logo">RiverLog</div>
  <div class="download">Download</div>
</div>
*/}} {{/*
<div class="wave-container">
  <svg
    class="wave"
    viewBox="0 0 500 100"
    preserveAspectRatio="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0,30 C150,80 350,0 500,30"
      fill="none"
      stroke="#C6E4F6"
      stroke-width="0.2"
    ></path>
  </svg>
</div>
*/}}
